<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.GetCommonScriptsAndStyles()
    @Html.LoadStylesAndScripts(Html.Action("GetBlogTheme", "Base", new { area = "" }).ToString())
</head>
<body>

<div id="wrapper">
	<div id="menu">
		<img id="more-pages" title="more pages" src="@Url.Content("~/Content/Images/arrow.png")" alt="more pages" />
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			@Html.Action("Logo", "Base")
			
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
	<div id="page-bgtop">
	<div id="page-bgbtm">
		<div id="pagecontent">
			@RenderBody()
		    <div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	footer@copyright 2016
</div>
<!-- end #footer -->
</body>
</html>
